<form [formGroup]='form'>
    <div class="form-group" >
        <label for="oldpassword">Existing Password</label>
        <input 
            formControlName="oldpassword"
            id="oldpassword"
            type="password" 
            class="form-control">
        <div *ngIf="oldpassword.pending">Authenticating..</div>
        <div *ngIf="oldpassword.touched && oldpassword.invalid" class="alert alert-danger">
            <div *ngIf="oldpassword.errors.required">Existing password is required</div>
            <div *ngIf="oldpassword.errors.wrongPassword">This is a wrong password</div>
        </div>

        <label for="newpassword">New Password</label>
        <input 
            formControlName="newpassword"
            id="newpassword" 
            type="password" 
            class="form-control">
        <div *ngIf="newpassword.touched && newpassword.invalid" class="alert alert-danger">
            <div *ngIf="newpassword.errors.required">New password is required</div>
            <div *ngIf="newpassword.errors.minlength">
                 password should be at least {{newpassword.errors.minlength.requiredLength}} char long.
            </div>
        </div>

        <label for="repeatpassword">Repeat New Password</label>
        <input 
            formControlName="repeatpassword"
            id="repeatpassword" 
            type="password" 
            class="form-control">
        <div *ngIf="repeatpassword.touched && repeatpassword.invalid" class="alert alert-danger">
            <div *ngIf="repeatpassword.errors.required">This field cannot be empty</div>
        </div>
    </div>
    <div class="alert alert-danger" *ngIf="form.invalid && repeatpassword.valid && form.errors && form.errors.notmatch">The repeat password does not match</div>

    <button class="btn btn-primary" type="submit">Change</button>
</form>